<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-pharosHouse" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>pharoshouse</name>
    <js-module name="pharoshouse" src="www/pharoshouse.js">
        <clobbers target="cordova.plugins.pharosHouse" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="pharosHouse">
                <param name="android-package" value="com.cordova.plugin.pharoshouse" />
            </feature>
        </config-file>
        

        <framework src="src/android/pharoshouse.gradle" custom="true" type="gradleReference"/>
        <resource-file src="src/android/acuantMobileSDK.aar" target="libs/acuantMobileSDK.aar"/>
        <resource-file src="src/android/kyc.aar" target="libs/kyc.aar"/>
        <resource-file src="src/android/libScanovateImagingHybridLiveness_4_1_0.aar" target="libs/libScanovateImagingHybridLiveness_4_1_0.aar"/>
        <resource-file src="src/android/scanovate_colombia.aar" target="libs/scanovate_colombia.aar"/>

   </platform>
</plugin>